<template>
  <h2>create todo</h2>
  <form
      class="form"
      @submit.prevent="onSubmit"
  >
    <input
        class="input"
        type="text"
        v-model="newTitle"
    />
    <button
        class="button"
        type="submit"
    >
      create
    </button>
  </form>
</template>
<script>
export default {
  name: 'create-todo-item',
  data() {
    return {
      newTitle: "",
    };
  },
  emits: ["createTodoItem"],
  methods: {
    onSubmit() {
      if (!this.newTitle) return
      this.$emit("createTodoItem", {
        title: this.newTitle,
        isDone: false,
        id: new Date().getTime(),
      });
      this.newTitle = "";
    },
  },
};
</script>
<style scoped>
.form {
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
}
</style>
