<template>
  <li :class="isChecked ? `todo__item is__done`: `todo__item`">
    <input
        class="input"
        type="checkbox"
        v-show="!isChecked"
        v-model="isChecked"
        @change="onSelect"
    />
    <span
        :class="isChecked && 'is__done_text'"
    >
      {{ todo.title }}
    </span>
    <button
        class="button"
        @click="onDelete"
    >
      &times;
    </button>
  </li>
</template>
<script>
export default {
  name: 'todo-item',
  props: {
    todo: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      isChecked: false
    }
  },
  emits: ["deleteTodoItem", "selectTodoItem"],
  methods: {
    onDelete() {
      this.$emit("deleteTodoItem", this.todo.id);
    },
    onSelect() {
      this.$emit("selectTodoItem", this.isChecked, this.todo.id);
    }
  },
};
</script>
<style scoped>
.todo__item {
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto 10px;
}

.button {
  background-color: inherit;
  border: none;
  font-size: 20px;
}
.is__done_text {
  text-decoration: line-through;
}
.is__done {
  background-color: lightgray;
}
</style>
