<template>
    <h2 v-if="todoList.length > 0">todo list</h2>
    <ul>
      <todo-item
          v-for="todo in todoList"
          :key="todo.id"
          :todo="todo"
          @deleteTodoItem="deleteTodoItem"
          @selectTodoItem="selectTodoItem"
      />
    </ul>
</template>

<script>
import TodoItem from "./TodoItem";
export default {
  name: "todo-list",
  components: {
    TodoItem,
  },
  emits: ["deleteTodoItem", "selectTodoItem"],
  props: {
    todoList: {
      type: Array,
      required: true
    },
  },
  methods: {
    deleteTodoItem(id) {
      this.$emit("deleteTodoItem", id);
    },
    selectTodoItem(checked, id) {
      this.$emit("selectTodoItem", checked, id)
    }
  },
};
</script>
<style></style>
