<template>
    <todo-list
        :todoList="todoList"
        @deleteTodoItem="deleteTodoItem"
        @selectTodoItem="selectTodoItem"
    />
    <create-todo-item
        @createTodoItem="createTodoItem"
    />
</template>
<script>
import TodoList from "./components/TodoList";
import CreateTodoItem from "./components/CreateTodoItem";

export default {
  name: "App",
  components: {
    TodoList,
    CreateTodoItem,
  },
  data() {
    return {
      todoList: [],
    };
  },
  methods: {
    createTodoItem(newTodo) {
      this.todoList.push(newTodo);
    },

    deleteTodoItem(id) {
      this.todoList = this.todoList.filter((todo) =>  todo.id !== id);

    },
    selectTodoItem(checked, id) {
      this.todoList.map((el) => {
        if (el.id === id) {
          el.isDone = checked
        }
      })
    }
  },
};
</script>

<style>
ul {
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}

button, input[type="checkbox"] {
  cursor: pointer;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
